@import "tailwindcss";

:root {
  --background: #1C1830;
  --foreground: #fff;
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, SFMono-Regular, monospace;
}

@theme {
  --color-purpleReViSE: #834291;
  --color-darkBlueReViSE: #1C1830;
  --color-greenReViSE: #519D60;
  --color-blueReViSE: #2C7BAC;
  --color-orangeReViSE: #CD5741;
  --color-teamMEDI: #a2d49f;
  --color-teamCOOP: #1783c2;
  --color-teamAERO: #84298e;
  --color-teamMECA: #e4dec8;
  --color-teamEXPE: #da5437;
  --color-teamGECO: #234e6f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: white;
  font-family: var(--font-sans), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
