@import "tailwindcss";

:root {
  --background: #1C1830;
  --foreground: #fff;
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, SFMono-Regular, monospace;
}

@theme {
  --color-purpleReViSE: #834291;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: white;
  font-family: var(--font-sans), sans-serif;
}
