name: CI Pull Request Main

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  jest:
    uses: ./.github/workflows/tests.yml

  eslint:
    needs: jest
    if: success()
    uses: ./.github/workflows/eslint.yml

  lighthouse:
    needs: jest
    if: success()
    uses: ./.github/workflows/lighthouse.yml

  sonar:
    needs: jest
    if: success()
    uses: ./.github/workflows/sonarcloud.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}