name: CI Pull Request Main

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  jest:
    uses: ./.github/workflows/tests.yml


  eslint:
    needs: jest
    if: needs.jest.outputs.jest_success == 'true'
    uses: ./.github/workflows/eslint.yml


  lighthouse:
    needs: jest
    if: needs.jest.outputs.jest_success == 'true'
    uses: ./.github/workflows/lighthouse.yml

  sonar:
    needs: jest
    if: needs.jest.outputs.jest_success == 'true'
    uses: ./.github/workflows/sonarcloud.yml

  codeql:
    needs: jest
    if: needs.jest.outputs.jest_success == 'true'
    uses: ./.github/workflows/codeql.yml
