name: sonarcloud-push-other-pr.yml
on:
  push:
    branches:
      - main

  pull_request:
    types: [opened, synchronize, reopened]
    branches-ignore:
      - main

jobs:
  sonarqube:
    uses: ./.github/workflows/sonarcloud.yml
